# General
.DS_Store
.env

# Backend
backend/.venv/
backend/__pycache__/
backend/src/**/__pycache__/
backend/data.db
backend/.pytest_cache/

# Web
web/node_modules/
web/.next/
web/.env.local
web/.turbo/
